<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Sinh Viên</title>
</head>
<body>
    <div class="container">
        <h2>Thông Tin Sinh Viên</h2>
        <p><strong>Mã SV:</strong> {{ sinhvien.maSV }}</p>
        <p><strong>Tên SV:</strong> {{ sinhvien.tenSV }}</p>
        <p><strong>Lớp SV:</strong> {{ sinhvien.lopSV }}</p>
        <p><strong>Ngày Sinh:</strong> {{ sinhvien.dob }}</p>
        <p><strong>Khoa SV:</strong> {{ sinhvien.khoaSV }}</p>
        <p><strong>Khóa Học:</strong> {{ sinhvien.khoaHoc }}</p>
    </div>
</body>
</html>